syntax = "proto3";

package {{.PackageName}}.v1;

option go_package = "{{.Module}}/gen/pb/{{.PackageName}}/v1;{{.PackageName}}v1";

service {{.ServiceName}} {
  rpc Echo(EchoRequest) returns (EchoResponse);
}

message EchoRequest {
  string message = 1;
}

message EchoResponse {
  int32 code = 1;
  string msg = 2;
  string message = 3;
}
