// Package httptransport adapts HTTP requests to the service layer.
package httptransport

import (
	"net/http"

	"{{.Module}}/internal/service"
)

func NewHandler(application *service.Service) http.Handler {
	mux := http.NewServeMux()
	registerGeneratedRoutes(mux, application)
	return mux
}
