// Package service contains protocol-independent business logic.
package service

import "{{.Module}}/internal/rpcclient"

type Service struct {
	RPC *rpcclient.Clients
}

func New(rpcClients *rpcclient.Clients) *Service {
	if rpcClients == nil {
		rpcClients = &rpcclient.Clients{}
	}
	return &Service{RPC: rpcClients}
}
