module {{.Module}}

go {{.GoVersion}}

require github.com/eyesofblue/jgo {{.JGOVersion}}
require gopkg.in/yaml.v3 v3.0.1
{{if .HasWeb}}
require github.com/oapi-codegen/runtime v1.1.1
{{end}}
{{if .HasGRPC}}
require google.golang.org/grpc v1.71.3
require google.golang.org/protobuf v1.36.7
{{end}}
{{if .JGOReplace}}
replace github.com/eyesofblue/jgo => {{printf "%q" .JGOReplace}}
{{end}}
