module {{.Module}}

go {{.GoVersion}}

require github.com/eyesofblue/jgo {{.JGOVersion}}
require gopkg.in/yaml.v3 v3.0.1
{{if .HasWeb}}
require github.com/getkin/kin-openapi v0.127.0
require github.com/oapi-codegen/runtime v1.1.1
{{end}}
{{if .HasGRPC}}
require google.golang.org/grpc v1.79.1
require google.golang.org/protobuf v1.36.11
{{end}}
{{if .JGOReplace}}
replace github.com/eyesofblue/jgo => {{printf "%q" .JGOReplace}}
{{end}}
