package main

import (
	"context"
	"fmt"
	"log/slog"
	"os"

	"github.com/eyesofblue/jgo/app"
	"github.com/eyesofblue/jgo/server/grpcx"
	"{{.Module}}/internal/config"
	"{{.Module}}/internal/service"
	grpctransport "{{.Module}}/internal/transport/grpc"
)

func main() {
	if err := run(os.Args[1:]); err != nil {
		_, _ = fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

func run(arguments []string) error {
	configuration, err := config.Load(arguments)
	if err != nil {
		return err
	}
	logger := slog.New(slog.NewJSONHandler(os.Stdout, nil))
	applicationService := service.New()
	grpcServer, err := grpcx.New(
		grpcx.WithAddress(configuration.Service.GRPCAddress),
		grpcx.WithLogger(logger),
		grpcx.WithReflection(true),
		grpcx.WithRegister(grpctransport.Register(applicationService)),
	)
	if err != nil {
		return err
	}

	application := app.New(
		app.WithName(configuration.Service.Name),
		app.WithShutdownTimeout(configuration.Service.ShutdownTimeout.Duration),
	)
	if err := application.Add(grpcServer); err != nil {
		return err
	}
	return application.Run(context.Background())
}
