package main

import (
	"context"
	"fmt"
	"log/slog"
	"os"

	"github.com/eyesofblue/jgo/app"
	"github.com/eyesofblue/jgo/server/grpcx"
	"github.com/eyesofblue/jgo/telemetry"
	"{{.Module}}/internal/config"
	"{{.Module}}/internal/managementx"
	"{{.Module}}/internal/rpcclient"
	"{{.Module}}/internal/securityx"
	"{{.Module}}/internal/service"
	grpctransport "{{.Module}}/internal/transport/grpc"
)

func main() {
	if err := run(os.Args[1:]); err != nil {
		_, _ = fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

func run(arguments []string) error {
	configuration, err := config.Load(arguments)
	if err != nil {
		return err
	}
	logger := slog.New(slog.NewJSONHandler(os.Stdout, nil))
	slog.SetDefault(logger)
	application := app.New(
		app.WithName(configuration.Service.Name),
		app.WithShutdownTimeout(configuration.Service.ShutdownTimeout.Duration),
	)
	if configuration.Telemetry.Tracing.Enabled {
		tracing, err := telemetry.NewTracing(context.Background(), telemetry.TracingConfig{
			ServiceName: configuration.Service.Name,
			SampleRatio: configuration.Telemetry.Tracing.SampleRatio,
			Exporter: telemetry.OTLPConfig{
				Enabled:  configuration.Telemetry.Tracing.Exporter.Enabled,
				Endpoint: configuration.Telemetry.Tracing.Exporter.Endpoint,
				Insecure: configuration.Telemetry.Tracing.Exporter.Insecure,
			},
		})
		if err != nil {
			return err
		}
		if err := application.Add(tracing); err != nil {
			return err
		}
	}
	rpcManager, rpcClients, err := rpcclient.New(configuration.RPCClient, logger)
	if err != nil {
		return err
	}
	if rpcManager != nil {
		if err := application.Add(rpcManager); err != nil {
			return err
		}
	}
	managementServer, serviceMetrics, err := managementx.New(context.Background(), configuration, rpcManager, logger)
	if err != nil { return err }
	if err := application.Add(serviceMetrics); err != nil { return err }
	if err := application.Add(managementServer); err != nil { return err }
	applicationService := service.New(rpcClients)
	authenticator, authorizer, err := securityx.New(configuration)
	if err != nil { return err }
	grpcServer, err := grpcx.New(
		grpcx.WithAddress(configuration.Service.GRPCAddress),
		grpcx.WithLogger(logger),
		grpcx.WithReflection(configuration.GRPC.Reflection.Enabled),
		grpcx.WithTLS(grpcx.TLSConfig{Enabled: configuration.GRPC.TLS.Enabled, CertFile: configuration.GRPC.TLS.CertFile, KeyFile: configuration.GRPC.TLS.KeyFile, ClientAuth: configuration.GRPC.TLS.ClientAuth, ClientCAFile: configuration.GRPC.TLS.ClientCAFile}),
		grpcx.WithUnaryInterceptors(serviceMetrics.UnaryServerInterceptor()),
		grpcx.WithAuthenticator(authenticator),
		grpcx.WithAuthorizer(authorizer),
		grpcx.WithRegister(grpctransport.Register(applicationService)),
	)
	if err != nil {
		return err
	}
	if err := application.Add(grpcServer); err != nil {
		return err
	}
	return application.Run(context.Background())
}
